/*.navbar-form .form-group {
  display: inline;
}

.navbar-form .form-group .input-group .input-group-btn {
  width: 1%;
}*/

.login-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: lightgray;
  margin: auto;
  padding: 20px;
}

.login-item {
  margin: 10px;
}

.google-signin {
  text-align: center;
  margin: 10px;
}

button.signup {
  margin: 10px;
}

.footer {
  margin: 20px;
}

hr.order-seperator {
  border: none;
  height: .5px;
  color: #333;
  background-color: #333;
}

.products-containers {
  display: flex;
  flex-direction: column;
}

.product-item {
  display: flex;
  flex-direction: row;
}

.product-image {
  height: 200px;
  width: 200px;
  margin-right: 20px;
}

.product-order-image {
  height: 100px;
  width: 100px;
  margin-right: 20px;
}

.product-information {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.product-name {
  margin-top: 0px;
}

.product-description {
  flex: 1;
}

.product-review {
  flex: 2;
}

.product-form {
  display: flex;
  flex-direction: column;
}

.product_detail {
  display: flex;
  flex-direction: row;
}

.product_info {
  display: flex;
  flex-direction: column;
  margin-left: 1%
}

.product_info h3 {
  margin: 0;
}

.order-container {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: lightgray;
  padding: 15px;
}
